.creator__meta {
  margin-left: $small-spacing / 4;

  &::before {
    content: "(";
  }

  &::after {
    content: ")";
  }
}

.creator__lifespan::before {
  content: ",";
  margin-right: $small-spacing / 4;

  .creator__nationality:empty + & {
    content: "";
    margin-right: 0;
  }
}
