.search-form {
  display: flex;
  margin-bottom: 1.5rem;
}

.search-input {
  flex-basis: 100%;
  height: 2.4rem;
  flex-basis: 100%;
  padding: 0.25rem 0.5rem;
}

.search-button {
  height: 2.4rem;
  border: 0;
  color: white;
  background-color: $red;
  text-transform: uppercase;
  padding: 0.25rem 1rem;
  transition: background-color 0.25s;

  &:hover,
  &:focus,
  &:active {
    background-color: $dark-gray;
  }
}
